USE [master]
GO
/****** Object:  Database [user22]    Script Date: 11.09.2023 16:23:57 ******/
CREATE DATABASE [user22]
GO
USE [user22]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 11.09.2023 16:23:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[ClientId] [int] IDENTITY(1,1) NOT NULL,
	[Familiya] [nvarchar](100) NULL,
	[Name] [nvarchar](100) NULL,
	[Otchestvo] [nvarchar](100) NULL,
	[Pol] [nvarchar](15) NULL,
	[Phone] [nvarchar](255) NULL,
	[BirthDate] [date] NULL,
	[Email] [nvarchar](155) NULL,
	[DataRegistracii] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ClientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Uslugi]    Script Date: 11.09.2023 16:23:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Uslugi](
	[UslugiId] [int] IDENTITY(1,1) NOT NULL,
	[Uslugi] [nvarchar](255) NULL,
	[Kartinka] [nvarchar](100) NULL,
	[Dlitelnost] [nvarchar](55) NULL,
	[Cena] [money] NULL,
	[Skidki] [float] NULL,
PRIMARY KEY CLUSTERED
(
	[UslugiId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UslugiClient]    Script Date: 11.09.2023 16:23:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UslugiClient](
	[UslugiClientId] [int] IDENTITY(1,1) NOT NULL,
	[Uslugi] [nvarchar](255) NULL,
	[UslugiId] [int] NULL,
	[NachaloProvedeniyaUslugi] [datetime] NULL,
	[Client] [nvarchar](100) NULL,
	[ClientId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UslugiClientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Client] ON 

INSERT [dbo].[Client] ([ClientId], [Familiya], [Name], [Otchestvo], [Pol], [Phone], [BirthDate], [Email], [DataRegistracii]) VALUES (1, N'Васильев', N'Оскар', N'Богданович', N' м', N'7(585)801-94-29', CAST(N'1971-01-30' AS Date), N'miturria@verizon.net', CAST(N'2017-05-28' AS Date))
INSERT [dbo].[Client] ([ClientId], [Familiya], [Name], [Otchestvo], [Pol], [Phone], [BirthDate], [Email], [DataRegistracii]) VALUES (2, N'Лазарев', N'Алексей', N'Богданович', N' м', N'7(0055)737-37-48', CAST(N'1977-03-10' AS Date), N'claesjac@me.com', CAST(N'2017-01-02' AS Date))
INSERT [dbo].[Client] ([ClientId], [Familiya], [Name], [Otchestvo], [Pol], [Phone], [BirthDate], [Email], [DataRegistracii]) VALUES (3, N'Казаков', N'Дмитрий', N'Русланович', N' м', N'7(51)682-19-40', CAST(N'1978-12-15' AS Date), N'ozawa@verizon.net', CAST(N'2016-05-21' AS Date))
SET IDENTITY_INSERT [dbo].[Client] OFF
GO
SET IDENTITY_INSERT [dbo].[Uslugi] ON 

INSERT [dbo].[Uslugi] ([UslugiId], [Uslugi], [Kartinka], [Dlitelnost], [Cena], [Skidki]) VALUES (1, N'Занятие с репетитором-носителем китайского языка', N'Китайский язык.jpg', N' 120 мин.', 1950.0000, 0)
INSERT [dbo].[Uslugi] ([UslugiId], [Uslugi], [Kartinka], [Dlitelnost], [Cena], [Skidki]) VALUES (2, N'Индивидуальный урок немецкого языка с преподавателем-носителем языка', N'Немецкий язык.png', N' 110 мин.', 1340.0000, 0)
INSERT [dbo].[Uslugi] ([UslugiId], [Uslugi], [Kartinka], [Dlitelnost], [Cena], [Skidki]) VALUES (3, N'Киноклуб китайского языка для студентов', N'киноклуб.jpg', N' 100 мин.', 1990.0000, 0)
GO
SET IDENTITY_INSERT [dbo].[Uslugi] OFF
GO
SET IDENTITY_INSERT [dbo].[UslugiClient] ON 

INSERT [dbo].[UslugiClient] ([UslugiClientId], [Uslugi], [UslugiId], [NachaloProvedeniyaUslugi], [Client], [ClientId]) VALUES (1, N'Урок в группе французского языка для школьников', 10, CAST(N'2019-11-16T11:20:00.000' AS DateTime), N'Суворова', 49)
INSERT [dbo].[UslugiClient] ([UslugiClientId], [Uslugi], [UslugiId], [NachaloProvedeniyaUslugi], [Client], [ClientId]) VALUES (2, N'Индивидуальный онлайн-урок немецкого языка по Skype', 41, CAST(N'2019-01-11T18:10:00.000' AS DateTime), N'Колобова', 37)
INSERT [dbo].[UslugiClient] ([UslugiClientId], [Uslugi], [UslugiId], [NachaloProvedeniyaUslugi], [Client], [ClientId]) VALUES (3, N'Киноклуб итальянского языка для студентов', 19, CAST(N'2019-12-01T14:40:00.000' AS DateTime), N'Колобова', 37)
GO
SET IDENTITY_INSERT [dbo].[UslugiClient] OFF
GO
ALTER TABLE [dbo].[UslugiClient]  WITH CHECK ADD FOREIGN KEY([ClientId])
REFERENCES [dbo].[Client] ([ClientId])
GO
ALTER TABLE [dbo].[UslugiClient]  WITH CHECK ADD FOREIGN KEY([UslugiId])
REFERENCES [dbo].[Uslugi] ([UslugiId])
GO
USE [master]
GO
